canvas {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.aspect {
    width: 100%;
    padding-bottom: 75%;
    position: relative;
    height: 0;
    overflow: hidden;
}

.aspect canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
